body{
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4{
	font-family: 'Patua One', cursive;
}
.navbar-header {
	padding-left: 14px;
	padding-top: 10px;
}

.top-bar {
	background-color: rgba(32, 155, 96, 0.86);
	position: relative;
	color: white;
	padding: 5px 15px;
}
.navbar-default
{
	background-color: #f8f8f8;
	border-color: #e7e7e7;
}

.navbar-custom .navbar-nav>li>a:hover, .navbar-nav>li>a:focus
{
	color: white;
	background-color: rgba(32, 155, 96, 0.86);
}
.navbar-custom .navbar-nav>li>a
{
	color: #777;
}
.navbar-custom .navbar-brand
{
	color: #777;
}
.navbar-custom .navbar-brand:hover, .navbar-brand:focus
{
	color: #000;
	background-color: transparent;
}
.btn-lg, .btn-group-lg > .btn
{
	padding: 12px 30px;
}
a
{
	color: #202020;
}
a:hover
{
	color: #000;
}
.page-header
{
	margin: 5px 0px;
	border-bottom: 0px;
	padding: 0px;
	border-right: 15px solid #eee;
}
.page-header h3
{
	font-size: 30px;
	margin-top: 0px;
	border-left: 10px solid #209b60;
	padding: 20px 0px 20px 20px;
	margin-bottom: 20px;
	background: #eee;
}

.page-header h4
{
	font-size: 20px;
	margin-top: 0px;
	border-left: 10px solid #209b60;
	padding: 20px 0px 20px 20px;
	margin-bottom: 20px;
	background: #eee;
}
.table th, .table td
{
	text-align: center;
}
.navbar-custom .navbar
{
	margin-bottom: 10px;
}
.no_border th, .no_border td
{
	border: none!important;
}

.fa-avatar
{
	font-size: 277px;
	color: #999;
}
legend
{
	width: auto;
	border-bottom: none;
	padding: 4px 10px;
}
fieldset.scheduler-border
{
	padding: 0 1.4em 1.4em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	background: #eee;
}

.sideNav > a > div
{
	background: rgb(2, 196, 103);
	color: #fff;
	padding: 20px 0px;
	font-size: 18px;
	border: 1px solid #fff;
	text-align: center;
}
.sideNav > a > div:hover
{
	background: rgb(3, 151, 80);
}

.sideNav > .active > div
{
	background: rgb(3, 151, 80);
}

.sideNav .icon
{
	font-size: 32px;
	background: rgba(0, 0, 0, 0.2);
	padding: 0;
	border-radius: 100%;
	height: 50px;
	width: 50px;
	line-height: 50px;
}
.navbar-custom
{
	background: rgba(255, 255, 255, 0.88);
	border: none;
	margin-bottom: 0;
	border-bottom: 1px solid #eee;
}
.navbar-custom .navbar-brand
{
	font-size: 20px;
	padding: 0px;
	line-height: 23px;
}
.navbar-custom .navbar
{
	min-height: 85px;
}
.navbar-custom .navbar-nav > li > a
{
	padding-top: 22px;
	padding-bottom: 24px;
	transition: all 0.2s;
}

.navbar-custom .navbar-nav > li > a:focus, .navbar-nav > li > a:hover
{
	background: #eee;
	color: #000;
}

.bold
{
	font-weight: bold;
}
.date_helper
{
	background: #eee;
	padding: 20px 0px;
}
.date_helper .big
{
	font-size: 30px;
}

.date_helper .small
{
	font-size: 20px;
}
blockquote
{
	font-size: 15px;
	background: #eee;
	border-left: 5px solid #999;
}

.table-icons tbody .btn
{
	padding: 6px 12px!important;
	margin: 1px;
}

.navbar-custom .navbar-nav > .active > a, .navbar-custom .navbar-nav > .active > a:hover, .navbar-custom .navbar-nav > .active > a:focus
{
	color: #555;
	background-color: #e7e7e7;
}
ul.nav li.dropdown:hover ul.dropdown-menu
{
	display: block;
}
.navbar-nav > li:hover
{
	background: #eee;
}
.navbar
{
	border-radius: 0px;
	padding: 0px 0;
}
.border-left
{
	border-left: 1px solid #ccc;
}
.border-right
{
	border-right: 1px solid #ccc;
}
.border-bottom
{
	border-bottom: 1px solid #ccc;
}
.cke_dialog_ui_input_file
{
	height: auto!important;
}
hr
{
	border-top: 1px solid #ddd;
}
.vspace
{
	margin-top: 20px;
}
body
{
	background: white;
}
.marker
{
	background-color: yellow;
}


.alert {
	border-radius: 0px;
}
.panel-group .panel {
	border-radius: 0px;
}

.panel-default > .panel-heading {
	padding: 0;
}

.panel-title > a {
	display: block;
	padding: 20px;
}

.panel-title {
	padding: 0;
	margin: 0;
}

#bg {
	background-size: cover;
	background-position: center;
	background-image: url('../img/header_img.jpg');
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	height: 715px;
}


.navbar-custom  .navbar-header  .navbar-brand > img {
	height: 100%;
}
.welcome-content{
	padding: 220px 0;
	color: white;
	padding: 300px 0 15px 0px;
}

.welcome-content h2, .carousel-caption h2 {
	font-size: 38px;
	color: white;
	background: rgba(32, 155, 96, 0.9);
	display: inline-block;
	padding: 0px 10px;
	text-transform: uppercase;
}
.welcome-content p {
	width: 45%;
	display: block;
	margin: auto;
	color: #209b60;
	font-size: 17px;
	background: white;
}

.sideNav .nav-item a {
	background: #209b60;
	display: block;
	padding: 20px;
	text-align: center;
	color: white;
	border-top: 10px solid #23C778;
	font-family: 'Patua One', cursive;
	font-size: 22px;
	letter-spacing: 1px;
}
.sideNav .nav-item-left a {
	background: #209b60;
	display: block;
	padding: 20px;
	text-align: center;
	color: white;
	border-left: 10px solid #23C778;
	font-family: 'Patua One', cursive;
	font-size: 22px;
	letter-spacing: 1px;
}

.sideNav .nav-item:nth-child(2) a, .sideNav .nav-item-left:nth-child(2) a {
	background: #e59859;
	border-color: #F4B989;
}

.sideNav .nav-item:nth-child(3) a, .sideNav .nav-item-left:nth-child(3) a {
	background-color: #158d8e;
	border-color: #35C7C8;
}

.sideNav .nav-item:nth-child(4) a, .sideNav .nav-item-left:nth-child(4) a {
	background-color: #779f59;
	border-color: #89C35D;
}

.sideNav .nav-item:nth-child(5) a, .sideNav .nav-item-left:nth-child(5) a {
	background-color: rgb(27, 178, 213);
	border-color: rgb(55, 206, 240);
}

.sideNav .nav-item:nth-child(6) a, .sideNav .nav-item-left:nth-child(6) a {
	background-color: #b70000;
	border-color: #DF3737;
}

.sideNav {
	position: relative;
	z-index: 1;
}
.sideNav .nav-item, .sideNav .nav-item-left {
	padding: 0;
}
.home-boxes {
	background: white;
	padding: 5px 0;
}

.panel-success > .panel-heading {
	background: #209b60;
	color: white;
	font-family: 'Patua One', cursive;
	font-size: 25px;
}
.footer {
	/* background: #787878; */
	padding: 40px 0;
}
footer ul {
	list-style: none;
	padding-left: 0px;
}

footer {
	background: rgb(46, 48, 48);
	color: white;
}

footer a {
	color: rgb(163, 163, 163);
	font-size: 13px;
	transition: color 0.4s;
}

.footer-copyright {
	padding-top: 40px;
	margin-top: 20px;
	border-top: 1px solid rgb(150, 150, 150);
	padding-bottom: 40px;
}
.footer-img{
	width: 80%;
	margin-top: 70px;
}
footer a:hover {
	color: white;
	text-decoration: none;
}
.main-content {
	margin-bottom: 80px;
	min-height: 400px;
}
.btn-primary, .btn-success {
	background-color: #209b60 !important;
	border-color: #238355 !important;
	border-radius: 0;
	outline: none !important;
}

.btn-primary:hover,ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â .btn-primary:active,ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â .btn-primary:focus, .btn-success:hover,ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â .btn-success:active,ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â .btn-success:focus {
	background-color: #197E4E !important;
	border-color: #238355 !important;
	outline: none;
}
.form-control {
	border-radius: 0px;
	padding: 22px 12px;
	border: 1px solid #dadada;
	box-shadow: none;
}

.form-control:focus {
	border-color: #209b60;
	box-shadow: none;
}
select.form-control {
	height: 47px;
	border-radius: 0px !important;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background: #209b60;
}

.pagination > li > a, .pagination > li > span {
	color: #209b60;
}
.navbar-nav {
	padding-right: 20px;
}
.user-nav
{
	margin-right: 20px;
}

.user-nav a {
	color: white;
}

.navbar-admin
{
	padding: 0px;
	margin-bottom: 6px;
}
.form-control[type="file"]
{
	padding: 5px;
}

select.form-control
{
	padding-top: 10px;
	padding-bottom: 10px;
}

.carousel .item {
	left: 0 !important;
	-webkit-transition: opacity .4s; /*adjust timing here */
	-moz-transition: opacity .4s;
	-o-transition: opacity .4s;
	transition: opacity .4s;
}
.carousel-control {
	background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
.next.left,
.prev.right {
	opacity: 1;
	z-index: 1;
}
.active.left,
.active.right {
	opacity: 0;
	z-index: 2;
}

.carousel {
	z-index: -99;
	position: absolute;
}

/* keeps this behind all content */
.carousel .item {
	width: 100%;
	height: 100%;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;

}
.carousel .active.left {
	left:0;
	opacity:0;
	z-index:2;
}
.space
{
	padding-bottom: 48%;
}

.shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	box-shadow: inset 0px -59px 47px -25px #FFFFFF;
	top: 0;
	left: 0;
}
.navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar
{
	min-height : 42px;
}

.btn
{
	border-radius: 0;
}

.big-menu
{
	background: rgb(32, 155, 96);
	font-size: 23px;
	padding: 50px 0px;
	box-shadow: 0px 0px 2px #fff;
	font-family: 'Patua One', cursive;
}
.big-menu i
{
	font-size: 70px;
	padding-bottom: 12px;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 100%;
	height: 100px;
	width: 100px;
	line-height: 100px;
}